*.DS_Store
*.patch
*.diff
*.o
*.a
*.la
*.lo
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
*/.deps
*/.libs
Makefile
Makefile.in
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
xcuserdata
