.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
img4tool/.DS_Store
img4tool/.deps
img4tool/.libs
img4tool/img4tool
img4tool/*.o
img4tool/*.a
img4tool/*.la
img4tool/*.lo
img4tool/Makefile
img4tool/Makefile.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1